body {
  background-color: #0d3b66;
  text-align: center;
  font-family: cursive;
  color: white;
}
p {
  background-color: hotpink;
}

h1 {
  color: #f4d35e;
  font-size: 48px;
  font-family: cursive;
}
h2 {
  color: #f4d35e;
  font-size: 30px;
  font-family: cursive;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: faf0ca; /* Change to your desired button color */
  color: #f95738; /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  font-weight: bold;
  margin: 2px;
  margin-top: 50px;
}
button:active {
  background-color: #658182;
  transform: scale(
    1.05
  ); /* Change to a darker shade when the button is clicked */
}

input {
  width: 75%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #f95738;
  border-radius: 5px;
  color: #f95738;
  background-color: #faf0ca;
}

input::placeholder {
  color: #f95738;
}

div {
  text-align: center;
  color: white;
  font-size: 24px;
}

#heroHealthBar {
  width: 200px;
  height: 20px; /* Set the height of the progress bar */
  border: 1px solid green;
  background-color: green;
}
#heroHealthBar[value] {
  width: 200px;
  height: 20px; /* Set the height of the progress bar */
  border: 1px solid green;
  background-color: green;
}

#villainHealthBar {
  width: 200px;
  height: 20px; /* Set the height of the progress bar */
  border: 1px solid red;
  background-color: red;
}

#villainHealthBar[value] {
  width: 200px;
  height: 20px; /* Set the height of the progress bar */
  border: 1px solid red;
  background-color: red;
}

progress[value]::-webkit-progress-bar {
  background-color: hotpink;
}

progress[value]::after {
  content: attr(value) "Hero Health: "; /* Display the percentage */
  position: absolute;
  right: 10px;
}

#wrapper {
  display: flex;
  justify-content: space-around;
  gap: 300px;
}

.hero-health-bar {
  width: 50%;
  height: 35px;
  background-color: #ddd;
  border: 1px solid #333;
  border-radius: 4px;
  overflow: hidden;
}

.villain-health-bar {
  width: 50%;
  height: 35px;
  background-color: #ee2323;
  border: 1px solid #333;
  border-radius: 4px;
  overflow: hidden;
}

.health-value {
  width: 100%;
  height: 100%;
  background-color: #4caf50;
  text-align: center;
  line-height: 35px;
  color: white;
  transition: width 0.5s;
}

.dialogue {
  color: white;
  font-family: cursive;
}
