body {
  background-color: #39393a;
  text-align: center;
  font-family: cursive;
  color: white;
}

h1 {
  color: #ff8552;
  font-size: 48px;
  font-family: cursive;
}
h2 {
  color: #297373;
  font-size: 30px;
  font-family: cursive;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: faf0ca; /* Change to your desired button color */
  color: #0d3b66; /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  font-weight: bold;
  margin: 2px;
  margin-top: 50px;
}
button:active {
  background-color: #658182;
  transform: scale(
    1.05
  ); /* Change to a darker shade when the button is clicked */
}

input {
  width: 75%;
  padding: 10px;
  font-size: 16px;
  border: 4px solid #ff8552;
  border-radius: 5px;
  color: #85ffc7;
  background-color: #297373;
}

input::placeholder {
  color: #85ffc7;
}

div {
  text-align: center;
  color: white;
  font-size: 24px;
}

.health-bar {
  width: 200px;
  height: 20px;
  border: 1px solid green;
  background-color: green;
  position: relative; /* Position relative to contain the health fill div */
}

.health-fill {
  height: 100%;
  width: 100%;
  background-color: #4caf50;
  transition: width 0.5s;
}
.health-fill.low {
  background-color: red;
}

.health-fill.moderate {
  background-color: yellow;
}

/* Adjust the health bar colors based on your health thresholds */

#wrapper {
  display: flex;
  justify-content: space-around;
  gap: 300px;
}

.hero-health-bar {
  width: 50%;
  height: 35px;
  background-color: #ddd;
  border: 1px solid #333;
  border-radius: 4px;
  overflow: hidden;
}

.villain-health-bar {
  width: 50%;
  height: 35px;
  background-color: #ee2323;
  border: 1px solid #333;
  border-radius: 4px;
  overflow: hidden;
}

.health-value {
  width: 100%;
  height: 100%;
  background-color: #85ffc7;
  text-align: center;
  line-height: 35px;
  color: #297373;
  transition: width 0.5s;
}

#heroHealthBar,
#villainHealthBar {
  width: 200px;
  height: 20px;
  border: 1px solid #333;
  background-color: #ddd;
}

.dialogue {
  color: white;
  font-family: cursive;
}

/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Overlay on top of the page content */
  z-index: 1; /* Place it above everything else */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  overflow: auto; /* Enable scrolling when the content is too long */
}

/* Modal content */
.modal-content {
  background-color: #ff8552;
  margin: 15% auto; /* Center the modal vertically */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

/* Close button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
